@using bitScry.Models.Projects.Weather;
@using MetOfficeDataPoint.Models;
@using bitScry.AppCode.Projects;

@model WeatherSummary

<div class="col-lg-3 col-xs-6 weather-daily img-thumbnail btn" id="summary_@Model.ForecastDay.ToString("yyyyMMdd")">
    <div class="row">
        <div class="col-lg-12">
            @Model.ForecastDay.ToString("ddd")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <i class="wi @Model.Icon.Icon wi-fw"></i>
        </div>
        <div class="col-lg-6 weather-daily-temperature">
            <div class="row">
                <div class="col-lg-12">
                    @Model.MaxTemperature &deg;C
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @Model.MinTemperature &deg;C
                </div>
            </div>
        </div>
    </div>
</div>