@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    I'm officially a senior developer living and working in London. This site is intended to give me somewhere to host examples of some of the more interesting examples of the work I'm creating.
    I have also created a <a href="https://blog.bitscry.com/" alt="bitScry Blog">blog</a> which is mainly intended as repository of things I've learnt so I hopefully don't forget!
</p>