@using Microsoft.Azure.CognitiveServices.Search.ImageSearch.Models;

@model ImageObject

<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card">
        <a asp-action="Detail" asp-route-imageUrl="@Model.ContentUrl" alt="@Model.Name">
            <img class="card-img-top" src="@Model.ThumbnailUrl" alt="@(Model.AlternateName == null ? "" : Model.AlternateName)">
        </a>
    </div>
</div>