/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Weather */
.weather-main {
    font-size: 3vw;
    background-color: white;
}

.weather-main-temperature {
    font-size: 2vw;
}

.weather-daily {
    font-size: 2vw;
    background-color: white;
}

.weather-daily-temperature {
    font-size: 1vw;
}

.weather-detailed {
    font-size: 2vw;
}

/*.weather-main {
    font-size: 60px;
    background-color: white;
}

.weather-main-temperature {
    font-size: 30px;
}

.weather-daily {
    font-size: 30px;
    background-color: white;
}

.weather-daily-temperature {
    font-size: 15px;
}

.weather-detailed {
    font-size: 25px;
}*/

/*.datatables-inline-btn {
    display: inline;
    margin-left: 15px;
}*/

/*@media screen and (max-width: 568px) {
    .weather-detailed {
        font-size: 18px;
    }

    .weather-daily {
        margin-bottom: 0px;
    }

    .weather-main-temperature {
        font-size: 20px;
    }

    .weather-main {
        font-size: 50px;
    }

    .datatables-inline-btn {
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }
}*/